/*
    Having the flash 100% size forces us to explicit set some of the overflow options.
*/
html,body
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
    overflow: auto;
}
body
{
    /* an annoying issue where the vscrollbar appears in FF/Safari at least
        forces me to do this lame 99% trick.
    */
	height: 100%;
    overflow: hidden;
	background-color: $backgroundColor; null="#000000"$;

	font-family: arial, verdana, sans-serif;
}

img
{
    border: none;
}

div.p
{
    margin: 5px;
}

#swf_container
{
    width: 100%;
    height: 100%;
}
